/* CSS Settings */
body {
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e1f5fe;
    /* ลายพื้นหลัง */
    background-image: radial-gradient(#81d4fa 20%, transparent 20%);
    background-size: 20px 20px;
    margin: 0;
}

.calculator {
    background-color: #b3e5fc;
    padding: 25px;
    /* ขอบมนแต่หนา */
    border: 4px solid #0277bd; 
    border-radius: 25px; 
    /* เงาทึบสีเข้ม */
    box-shadow: 8px 8px 0px #01579b; 
    width: 350px;
}

/* หน้าจอ */
.screen-container {
    background-color: #e0f7fa;
    border: 3px solid #0277bd;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 25px;
    box-shadow: inset 4px 4px 0px rgba(0,87,155, 0.1);
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#history {
    color: #4fc3f7;
    font-size: 0.6rem;
    min-height: 20px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#display {
    width: 100%;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.6rem;
    border: none;
    background: transparent;
    text-align: right;
    padding: 0;
    color: #01579b;
    outline: none;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

button {
    height: 60px;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.9rem;
    border: 3px solid #0277bd;
    border-radius: 12px;
    cursor: pointer;
    position: relative;
    box-shadow: 4px 4px 0px #01579b;
    transition: all 0.1s;
}

/* Effect กดปุ่ม */
button:active {
    transform: translate(4px, 4px);
    box-shadow: 0px 0px 0px #000;
}

/* สีปุ่มตัวเลข */
button {
    background-color: #ffffff;
    color: #0277bd;
}
button:hover { background-color: #f1f8e9; }

/* ปุ่ม Operator */
.operator {
    background-color: #4fc3f7;
    color: #01579b;
}
.operator:hover { background-color: #29b6f6; }

/* ปุ่ม Equal */
.equal-sign {
    background-color: #0288d1;
    color: #ffffff;
}
.equal-sign:hover { background-color: #0277bd; }

/* ปุ่ม AC/DEL */
.clear, .delete {
    background-color: #ffccbc; 
    color: #d84315;
    border-color: #d84315;
    box-shadow: 4px 4px 0px #bf360c;
}
.clear:hover, .delete:hover { background-color: #ffab91; }

.clear:active, .delete:active {
    box-shadow: 0px 0px 0px #bf360c;
}